body {
  max-width: 1440px;
  background-color: #ffffff;
  margin: 0px auto;
  font-family: "Rubik", sans-serif;
  color: #0b132a;
}
ul,
ol {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li {
  margin: 0;
}
input,
button,
textarea,
select {
  font: inherit;
  margin: 0;
}
img {
  max-width: 100%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.content {
  max-width: 1140px;
  margin: 0 auto;
}
.logo {
  width: 35px;
  height: 36px;
}
.logo-name {
  font-size: 20px;
  line-height: 24px;
  font-family: Rubik;
  font-style: normal;
}
header {
  padding-top: 46px;
}
.bold {
  font-weight: 500;
}
.very-bold {
  font-weight: 700;
}
.uppercase {
  text-transform: uppercase;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.list {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #4f5665;
  list-style: none;
  display: flex;
  column-gap: 40px;
}
.cta-navigation {
  border: 1px solid #f53855;
  border-radius: 50px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #f53855;
  cursor: pointer;
  padding: 13px;
  background-color: #ffffff;
  width: 10em;
}

.box-button {
  display: flex;
  align-items: center;
  column-gap: 30px;
}
.sign-in {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.first-bloc {
  display: flex;
  margin-top: 89px;
  margin-bottom: 89px;
  column-gap: 41px;
}
.main-title {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
}
.left-bloc {
  align-self: center;
  flex: 1;
}

.main-text {
  padding: 20px 0 50px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}
.cta-main {
  background: #f53838;
  border-radius: 10px;
  border: none;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  padding: 17.5px 0;
  width: 45%;
  cursor: pointer;
  box-shadow: 0px 30px 64px 0px rgba(245, 56, 56, 0.4);
}
.cta-button {
  width: 100%;
  -webkit-text-fill-color: #ffffff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  border: 1px solid #000000;
}
.cta-button:hover {
  box-shadow: 0 0 50px rgba(245, 56, 56, 0.35);
}
.icon-red:hover {
  box-shadow: 1px 9px 5px 0px rgba(13, 16, 37, 0.08);
}
.right-bloc {
  flex: 1;
}
.under-bloc {
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  box-shadow: 0px 67px 100px 0px rgba(13, 16, 37, 0.05);
  padding: 22px 76px;
}
.card-border {
  border-right: 2px solid #eeeff2;
  border-left: 2px solid #eeeff2;
}
.card {
  display: flex;
  align-items: center;
  column-gap: 36.5px;
  flex: 1;
}
.left {
  justify-content: flex-start;
  padding: 60px 0 30px;
}
.right {
  justify-content: flex-end;
  padding: 60px 0 30px;
}
.centre {
  flex: 2;
  justify-content: center;
  margin-top: 30px;
}
.group-card {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.number {
  justify-self: center;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}
.text-card {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #4f5665;
}
.background-under {
  filter: blur(114px);
  position: relative;
  width: 90%;
  height: 60px;
  background: rgba(13, 16, 37, 0.06);
  bottom: 24px;
  left: 60px;
}
.image-card {
  max-width: none;
}
.gradient {
  background: linear-gradient(180deg, #f6f6f6 -9%, #ffffff 62%);
  padding: 80px 0 150px;
}
.global {
  display: none;
}

.phone {
  display: none;
}
@media only screen and (max-width: 700px) {
  body {
    padding: 10px;
  }

  .cta-main {
    width: 100%;
  }
  .checked-list {
    justify-content: center;
  }
  .first-bloc {
    flex-wrap: wrap;
    margin: 20px 0;
  }
  .logos {
    text-align: center;
    justify-content: center !important;
  }
  .plan-card {
    row-gap: 10px;
    flex-wrap: wrap;
  }
  .button-menu {
    border: none;
    background: transparent;
    width: 70px;
    cursor: pointer;
  }

  .changing-bar {
    gap: 10px;
    flex-wrap: wrap;
  }
  header {
    display: none;
  }
  .phone {
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin-top: 21px;
    justify-content: space-between;
  }
  .phone-1 {
    align-items: end;
  }
  .main-text,
  .subtitle {
    width: 100% !important;
  }
  .part-right {
    flex-wrap: wrap;
    gap: 20px;
  }

  .bloc {
    flex: auto !important;
    margin-top: 30px;
  }
  .second-bloc {
    padding: 20px 0 !important;
  }
  .under-bloc {
    row-gap: 40px;
    padding: 0;
  }
  .card-border {
    border: none;
  }
  .left,
  .right,
  .centre {
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  .button-footer {
    bottom: 83px;
  }
  .important {
    flex: auto !important;
  }

  .content-footer {
    row-gap: 20px;
  }
}
@media only screen and (max-width: 1150px) {
  body {
    padding: 0 10px;
  }
  .navigation,
  .first-bloc,
  .under-bloc,
  .second-bloc,
  .logos,
  .views,
  .content-footer {
    flex-wrap: wrap;
  }

  .views {
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .bloc-button {
    flex-wrap: wrap;
    padding: 10px !important;
  }

  .map-world {
    display: none;
  }
  .point-location {
    display: none;
  }
  .global {
    display: block;
    max-width: 100%;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.second-bloc {
  padding: 110px 0 131px;
  display: flex;
  column-gap: 170px;
}
.image-gift {
  padding-bottom: 30px;
}
.list-item::before {
  content: url(images/icon-checked.png);
  margin-right: 12px;
}
.check-plan {
  align-self: flex-start;
  padding-bottom: 50px;
}
.star::after {
  content: url(images/star.png);
  margin-left: 12px;
}
.checked-list {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
  list-style: none;
  row-gap: 15px;
  display: grid;
  text-align: initial;
  padding-top: 30px;
}
.list-item {
  display: flex;
}
.left-second {
  flex: 1;
}
.subtitle {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  padding-bottom: 20px;
}
.text {
  padding: 0 0 20px 0;
}
.text-2 {
  width: 50%;
}
.right-second {
  flex: 0.8;
  align-self: flex-end;
}

.second-content {
  max-width: 1090px;
  margin: 0 auto;
}
.center {
  padding: 0;
}
.head {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  padding-bottom: 60px;
}
.list-check::before {
  content: url(images/check.png);
  margin-right: 12px;
}
.plan {
  background: #ffffff;
  border: 2px solid #dddddd;
  padding: 80px 0 50px;
  text-align: center;
  border-radius: 10px;
  display: grid;
  justify-content: center;
}
.plan:hover {
  border: 2px solid #f53838;
  border-radius: 10px;
}
.view:hover {
  border: 2px solid #f53838;
  border-radius: 10px;
}
.gap {
  row-gap: 10px;
}

.title-gift {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0b132a;
}
.plan-card {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  column-gap: 50px;
  display: grid;
}
.button-gift {
  text-align: center;
  display: grid;
  row-gap: 20px;
  align-self: flex-end;
}
.price {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #0b132a;
}
.price-part {
  color: #4f5665;
  font-weight: 400;
}
.cta-gift {
  border: 2px solid #f53838;
  border-radius: 50px;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #f53838;
  padding: 13px 0;
  cursor: pointer;
  background: #ffffff;
}

.cta-gift:hover {
  background: #f53838;
  color: #ffffff;
}
.cta-navigation:hover {
  background: #f53838;
  color: #ffffff;
}

.fourth-head {
  padding-bottom: 155px;
}

.width-3 {
  width: 42%;
}
.width-1 {
  width: 34%;
}
.width-2 {
  width: 48%;
}

.med {
  background-color: #ffffff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.med-1 {
  border: 3.5px solid #f53838;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.med-2 {
  background: #f53838;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-1 {
  border: 2.5px solid #f53838;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.micro-1 {
  border: 2.5px solid #f53838;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.very-small-1 {
  border: 2.5px solid #f53838;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small {
  background-color: #ffffff;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.micro {
  background-color: #ffffff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.very-small {
  background-color: #ffffff;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.small-2 {
  background: #f53838;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.micro-2 {
  background: #f53838;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.very-small-2 {
  background: #f53838;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.background-white {
  background-color: #ffffff;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mali {
  transform: translate(519px, -275px);
}
.south-america-small {
  transform: translate(319px, -223px);
}
.south-america-smal {
  transform: translate(336px, -112px);
}
.north-america-small {
  transform: translate(153px, -459px);
}
.north-america-smal {
  transform: translate(225px, -449px);
}
.north-america-sma {
  transform: translate(313px, -412px);
}
.alaska {
  transform: translate(395px, -513px);
}
.north-alaskaa {
  transform: translate(311px, -542px);
}
.north-alaska {
  transform: translate(452px, -525px);
}
.north-mexico {
  transform: translate(225px, -312px);
}
.mexico {
  transform: translate(274px, -337px);
}
.sweden {
  transform: translate(564px, -446px);
}
.vitnam {
  transform: translate(1043px, -466px);
}
.australia-south {
  transform: translate(962px, -110px);
}
.indonisia {
  transform: translate(859px, -191px);
}
.china {
  transform: translate(841px, -320px);
}
.north-russia {
  transform: translate(941px, -457px);
}
.micro-alaska {
  transform: translate(401px, -457px);
}
.micro-usa-north {
  transform: translate(80px, -452px);
}
.micro-usa {
  transform: translate(408px, -185px);
}
.micro-euro {
  transform: translate(761px, -457px);
}
.cercle-red {
  border: 3.5px solid #f53838;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.point-red {
  background: #f53838;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.point {
  cursor: pointer;
  position: absolute;
}
.point :hover {
  box-shadow: 1px 9px 5px 0px rgba(236, 4, 4, 0.14);
}

.afric {
  transform: translate(1402%, -618%);
}
.asia {
  transform: translate(1854%, -958%);
}
.north-america {
  transform: translate(557%, -1158%);
}
.south-america {
  transform: translate(1007%, -519%);
}
.south-afric {
  transform: translate(1707%, -419%);
}
.australia {
  transform: translate(2529%, -385%);
}
.india {
  transform: translate(2159%, -885%);
}
.turkia {
  transform: translate(1687%, -1100%);
}
.russia {
  transform: translate(1959%, -1235%);
}
.map {
  text-align: center;
}
.map-world {
  max-width: -webkit-fill-available;
}
.logo-marque {
  padding: 26px 5px;
}

.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 37px auto 50px;
}
.view {
  background: #ffffff;
  border: 2px solid #dddddd;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 30px;
  flex: 1;
}
.head-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.profil {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  align-items: center;
}

.viewer {
  display: grid;
}
.views {
  display: flex;
  column-gap: 50px;
}
.name {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}
.country {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
}
.oppion {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.bloc-button {
  padding: 58.5px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  border-radius: 10px;
  column-gap: 379px;
}
.button-footer {
  position: relative;
  bottom: 130px;
}
.button-subscribe {
  width: 45%;
}
footer {
  background: #f8f8f8;
}
.content-footer {
  padding-bottom: 100px;
  display: flex;
  column-gap: 230px;
}
.none {
  justify-content: normal;
  padding-bottom: 20px;
}
.part-left {
  flex: 0.6;
}
.part-right {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.icon-red {
  background-color: #f53838;
  width: 33.6px;
  height: 33.6px;
  border-radius: 50%;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.icons {
  padding: 30px 0;
  column-gap: 20px;
  display: flex;
}
.copies {
  color: #afb5c0;
}
.title-footer {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0b132a;
  padding-bottom: 20px;
}
.list-footer {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
  list-style: none;
  row-gap: 10px;
}
.rectongal {
  background-color: #f53853;
  width: 45px;
  height: 15px;
  border-radius: 10px;
}
.cercle-gray {
  width: 15px;
  height: 15px;
  background: #dde0e4;
  border-radius: 50%;
}
.loading {
  display: flex;
  column-gap: 15px;
  cursor: pointer;
}
.cercel-button {
  border: 2px solid #f53838;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.back-white {
  background: #ffffff;
}
.back-red {
  background: #f53838;
}
.changing {
  display: flex;
  column-gap: 20px;
  cursor: pointer;
}
.changing-bar {
  padding: 60px 0 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
